<h1>Stupid Coaching</h1>

<div class="conversation">
  <div class="question">
    <p><%= @question %></p>
    <p> - You</p>
  </div>
  <div class="answer">
    <p><%= @answer %></p>
    <p>- Your coach</p><br>
  </div>
  <div class="link">
    <%= link_to "Ask another Question", ask_path %>
  </div>
</div>
